@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --black: #191a23;
  --lime-green: #b9ff66;
  --card-bg-grey: #f3f3f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 2rem 5rem;
  width: 100%;
  height: 100vh;
}

.hidden {
  opacity: 0;
  transition: all 1.6s;
}

.show {
  opacity: 1;
}

/* header */
header {
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

header .logo a img {
  width: 12rem;
}

.logo {
  flex: 1;
  padding-left: 40px;
}

.logo,
nav {
  flex-shrink: 1;
  flex-basis: 200px;
}

nav {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-content: center;
}

.list_item {
  margin-right: 10px;
}

.list_item a {
  padding: 1rem;
  position: relative;
  display: inline-block;
}

.list_item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.01rem;
  width: 0;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s ease-in-out;
}

.list_item a:hover::after {
  width: 100%;
}

.list_btn {
  margin-left: 20px;
  padding: 1rem 2rem;
  cursor: pointer;
  text-transform: none !important;
  border: 1px solid var(--black);
  border-radius: 10px;
  transition: 0.3s ease-in;
}

.list_btn:hover {
  background-color: var(--black);
  color: #fff;
  border: 1px solid #fff;
}

/* hero section */
main {
  margin-top: 70px;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 6.3rem;
}

.hero_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}

.hero_left h3 {
  font-size: 4vmax;
  max-width: 600px;
  text-wrap: pretty;
}

.hero_left p,
.hero_left button {
  font-size: 20px;
}

.hero_left p {
  max-width: 500px;
  text-wrap: pretty;
}

.hero_left button {
  padding: 1rem 2rem;
  outline: none;
  cursor: pointer;
  background-color: var(--black);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: 0.3s ease-in;
}

.hero_left button:hover {
  background-color: #fff;
  color: var(--black);
  border: 1px solid var(--black);
}

.hero_right img {
  max-width: 100%;
}

/* client row */
.client_row_container {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}

.client_row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 105px;
  transition: transform 0.1s ease-out;
}

/* services */
.services {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services_top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 47px;
  padding-left: 3.6rem;
}

.services_top h3 {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--lime-green);
  padding: 5px;
  border-radius: 5px;
}

.services_top P {
  text-wrap: pretty;
  max-width: 550px;
  font-size: 17px;
}

.services_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  gap: 40px;
}

.services_bottom .cards_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.cards_container .card {
  padding: 3rem;
  border: 1px solid var(--black);
  border-bottom: 3px solid var(--black);
  border-radius: 45px;
  display: flex;
  gap: 69px;
  width: 43%;
}

.card .card_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 93px;
}

.card .card_left div:nth-child(1) h4 {
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 0 2px;
  width: fit-content;
}

.card .card_left div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.card .card_left div:nth-child(2) img {
  background-color: var(--black);
  color: var(--card-bg-grey);
  padding: 10px;
  border-radius: 50%;
}

.card .card_left div:nth-child(2) span {
  text-transform: capitalize;
  font-size: 18px;
}

.card .card_right {
  align-self: center;
}

.seo_card,
.email_card,
.ppc_card .card_left div:nth-child(1) h4,
.sm_card .card_left div:nth-child(1) h4,
.content_card .card_left div:nth-child(1) h4,
.sm_card .card_left div:nth-child(2) img,
.analytics_card .card_left div:nth-child(2) img {
  background-color: var(--card-bg-grey);
}

.seo_card .card_left div:nth-child(1) h4,
.email_card .card_left div:nth-child(1) h4,
.analytics_card .card_left div:nth-child(1) h4,
.ppc_card,
.content_card {
  background-color: var(--lime-green);
}

.sm_card,
.analytics_card {
  background-color: var(--black);
}

.sm_card .card_left div:nth-child(2) span,
.analytics_card .card_left div:nth-child(2) span {
  color: var(--card-bg-grey);
}

/* keyframes animations */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideIn {
  animation: slideInFromTop 1.5s ease-out;
}

/* media queries */
@media screen and (max-width: 1400px) {
  nav {
    flex-basis: 500px;
  }

  .logo {
    padding-left: 0;
  }

  .client_row {
    flex-wrap: wrap;
    gap: 60px;
  }

  .services_top {
    padding-left: 0;
  }

  .services_bottom .cards_container {
    justify-content: space-between;
  }

  .cards_container .card {
    width: 47%;
  }
}

@media screen and (max-width: 1150px) {
  body {
    padding: 2rem;
  }

  .client_row {
    gap: 40px;
  }

  .services_bottom {
    gap: 30px;
  }

  .services_bottom .cards_container {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .cards_container .card {
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1055px) {
  body {
    padding: 2rem 5rem;
  }

  header .logo a img {
    width: 12rem;
  }

  .nav_list_container ul {
    display: none;
  }

  .hamburger_menu {
    position: absolute;
    right: 5rem;
    top: 0;
    margin-top: 2.5rem;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 999;
  }

  .bar {
    width: 100%;
    height: 4px;
    background-color: var(--black);
    transition: all 0.3s ease;
  }

  .hamburger_menu.open .bar:nth-child(1) {
    transform: translateY(10.5px) rotate(45deg);
  }

  .hamburger_menu.open .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger_menu.open .bar:nth-child(3) {
    transform: translateY(-10.5px) rotate(-45deg);
  }

  .hamburger_menu .bar {
    transition: transform 0.3s, opacity 0.3s;
  }

  .nav_list_container #list.menu_open {
    position: absolute;
    top: 0.05rem;
    right: 2rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: flex-start;
    padding: 3rem;
    border-left: 1px solid color-mix(in srgb, #fff 50%, var(--black) 50%);
    animation: slideInFromRight 0.5s ease-out;
    z-index: 999;
  }

  .list_item,
  .list_btn {
    margin-left: 0;
  }

  .list_btn {
    padding-left: 1.5px;
  }

  .list_item a {
    padding: 1rem 0;
  }

  .client_row {
    gap: 30px;
  }

  .services_top {
    flex-direction: column;
  }
}

@media screen and (max-width: 885px) {
  body {
    padding: 2rem;
    position: relative;
  }

  .hamburger_menu {
    right: 3rem;
  }

  .nav_list_container #list.menu_open {
    right: 0;
  }

  /* hero section */
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 0;
    position: relative;
  }

  .hero_left h3 {
    font-size: 41px;
  }

  .hero_left h3,
  .hero_left p {
    max-width: 100%;
  }

  .hero_left p,
  .hero_left button,
  .hero_right img {
    position: absolute;
  }

  .hero_left p {
    top: 31.5rem;
  }

  .hero_left button {
    top: 40rem;
  }

  .hero_right img {
    left: 0;
    height: 400px;
    width: 100%;
  }

  .client_row_container {
    position: absolute;
    left: 0;
    top: 53rem;
  }

  .services {
    position: absolute;
    top: 63rem;
    right: 0;
    left: 0;
    padding: 0 20px;
  }

  .services_top p {
    max-width: 100%;
    text-align: center;
  }

  .cards_container .card {
    width: 100%;
    gap: 0;
  }

  .card .card_right img {
    max-width: 128px;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 2rem 1rem;
  }

  .hamburger_menu {
    right: 1.5rem;
  }

  .nav_list_container #list.menu_open {
    width: 100%;
  }

  .hero {
    justify-content: center;
  }

  .hero_left {
    align-items: center;
    justify-content: center;
  }

  .hero_right img {
    top: 8rem;
  }

  .hero_left p {
    top: 33rem;
  }

  .hero_left button {
    top: 43.5rem;
    width: 100%;
  }

  .client_row_container {
    top: 56rem;
  }

  .services {
    top: 70rem;
    padding: 0 10px;
  }

  .card {
    position: relative;
  }

  .card .card_left div:nth-child(1) h4:nth-child(1) {
    position: absolute;
    top: 1rem;
  }

  .card .card_left div:nth-child(2) span {
    display: none;
  }

  .card .card_right {
    align-self: flex-end;
  }
}
