@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --black: #191a23;
  --lime-green: #b9ff66;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 2rem 5rem;
  width: 100%;
  height: 100vh;
}

header {
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

header .logo a img {
  width: 12rem;
}

.logo {
  flex: 1;
  padding-left: 70px;
}

.logo,
nav {
  flex-shrink: 1;
  flex-basis: 200px;
}

nav {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-content: center;
}

.list_item {
  margin-right: 10px;
}

.list_item a {
  padding: 1rem;
  position: relative;
  display: inline-block;
}

.list_item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.01rem;
  width: 0;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s ease-in-out;
}

.list_item a:hover::after {
  width: 100%;
}

.list_btn {
  margin-left: 20px;
  padding: 1rem 2rem;
  cursor: pointer;
  text-transform: none !important;
  border: 1px solid var(--black);
  border-radius: 10px;
  transition: 0.3s ease-in;
}

.list_btn:hover {
  background-color: var(--black);
  color: #fff;
  border: 1px solid #fff;
}

/* hero section */
main {
  margin-top: 70px;
}

.hero {
  display: flex;
}

.hero_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  margin-left: 70px;
}

.hero_left h3 {
  font-size: 60px;
  width: 75%;
}

.hero_left p,
.hero_left button {
  font-size: 20px;
}

.hero_left p {
  width: 65%;
}

.hero_left button {
  padding: 1rem 2rem;
  outline: none;
  cursor: pointer;
  background-color: var(--black);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: 0.3s ease-in;
}

.hero_left button:hover {
  background-color: #fff;
  color: var(--black);
  border: 1px solid var(--black);
}

.hero_right {
  margin-right: 50px;
}

/* keyframes */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* media queries */
@media screen and (max-width: 1400px) {
  nav {
    flex-basis: 500px;
  }
}

@media screen and (max-width: 1150px) {
  body {
    padding: 2rem;
  }
}

@media screen and (max-width: 1055px) {
  body {
    padding: 2rem 5rem;
  }

  header .logo a img {
    width: 12rem;
  }

  .nav_list_container ul {
    display: none;
  }

  .hamburger_menu {
    position: absolute;
    right: 5rem;
    top: 0;
    margin-top: 2.5rem;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 200;
  }

  .bar {
    width: 100%;
    height: 4px;
    background-color: var(--black);
    transition: all 0.3s ease;
  }

  .hamburger_menu.open .bar:nth-child(1) {
    transform: translateY(10.5px) rotate(45deg);
  }

  .hamburger_menu.open .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger_menu.open .bar:nth-child(3) {
    transform: translateY(-10.5px) rotate(-45deg);
  }

  .hamburger_menu .bar {
    transition: transform 0.3s, opacity 0.3s;
  }

  .nav_list_container #list.menu_open {
    position: absolute;
    top: 0.05rem;
    right: 2rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: flex-start;
    padding: 3rem;
    border-left: 1px solid color-mix(in srgb, #fff 50%, var(--black) 50%);
    animation: slideInFromRight 0.5s ease-out;
  }

  .list_item,
  .list_btn {
    margin-left: 0;
  }

  .list_item a {
    padding: 1rem 0;
  }
}
